{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section class="relative container pt-xxl mb-xxl overflow-hidden">
        <div class="canvasContainer">
            <canvas class="canvas"></canvas>
        </div>
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap mt-xxl">
            <div class="col-span-5 lg:col-span-4 col-start-2 lg:col-start-7">
                <h2 class="text-primary italic">{{ data.title }}</h2>
            </div>

            <div class="relative lg:absolute top-0 w-[12.7rem] lg:w-[26.3rem] aspect-side" style="right: -5rem;">
                {{ image.default(data.image_side, '', 'side') }}
            </div>
        </div>
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap mt-xl lg:mt-xxl">
            <div class="col-span-6 lg:col-span-3 lg:col-start-3 mb-l lg:mb-m">
                <div>{{ data.texte_1 }}</div>
            </div>
        </div>
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 lg:gap">
            <div class="col-span-8 lg:col-span-5 !col-start-1">
                {{ image.default(data.image_primary, '', 'v-4col') }}
            </div>
            <div class="col-span-6 lg:col-span-3 col-start-3 lg:col-start-7 mt-xl lg:mt-auto mb-l lg:mb-m">
                <div>{{ data.texte_2 }}</div>
            </div>
            <div class="col-span-6 lg:col-span-2 col-start-3 lg:col-start-11 lg:mt-auto mb-l lg:mb-m">
                {{ image.default(data.image_secondary, '', 'h-2col') }}
            </div>
        </div>
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap">
            <div class="col-span-5 lg:col-span-2 col-start-4 lg:col-start-11 lg:mt-s">
                <a href="{{ data.button.url }}" class="button button--light">{{ data.button.title }}</a>
            </div>
        </div>
    </section>
{% endmacro %}