{% macro default(data) %}
    {% import "@components/image.twig" as image %}
    {% set sizes = {
        '0' : {'width': 263, 'height': 174},
        '1' : {'width': 326, 'height': 206},
        '2' : {'width': 213, 'height': 213},
        '3' : {'width': 263, 'height': 391},
        '4' : {'width': 213, 'height': 172},
        '5' : {'width': 213, 'height': 125},
        '6' : {'width': 326, 'height': 213}
     } %}

    <section id="bloc-gallery-mozaik" class="bloc-gallery-mozaik relative bg-primary overflow-hidden my-xxl">
        <div class="bloc-gallery-mozaik--content flex items-center justify-center h-screen">
            <div class="text-center text-white">
                <div class="flex justify-center number ts-custom2 mb-[1rem] overflow-hidden">
                    0
                    <span class="relative block">
                        {% for i, elem in data.elements %}
                            <span class="number-item">{{ i + 1 }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="title relative overflow-hidden">
                    {% for elem in data.elements %}
                        <div class="title-item ts-highlight d:w-col-6">{{ elem.title }}</div>
                    {% endfor %}
                </div>
                <div class="flex items-center justify-center gap-xl mt-m">
                    <button class="button button--before button--small button--small-light">{% include "@assets/svg/arrow-left.svg" %}</button>
                    <button class="button button--after button--small button--small-light">{% include "@assets/svg/arrow-right.svg" %}</button>
                </div>
            </div>
        </div>

        {% for i, elem in data.elements %}
            <button class="absolute bloc-gallery-mozaik--image bloc-gallery-mozaik--image-{{i + 1}} {% if i == 0 %}active{% endif %}" style="width: {{sizes[i]['width']}}px; height: {{sizes[i]['height']}}px">
                {{ image.default(elem.image, '', 'mozaik-'~(i + 1)) }}
            </button>
        {% endfor %}
    </section>
{% endmacro %}
