{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section id="bloc-content-1" class="relative container pt-[15rem] mb-xxl overflow-hidden">
        {# <div class="canvasContainer">
            <canvas class="canvas"></canvas>
        </div> #}
        <div class="bloc-content--title relative z-10 grid grid-cols-8 d:grid-cols-12 gap mb-xl">
            <div class="col-span-5 d:col-span-5 col-start-2 d:col-start-8" show-elements>
                <h2 class="text-primary italic split animation--text" show-element>{{ data.title }}</h2>
            </div>
        </div>
        <div class="relative z-10 grid grid-cols-8 d:grid-cols-12 gap">
            <div class="col-span-8 d:col-span-5">
                {{ image.default(data.image_primary, '', 'v-4col') }}
            </div>
            <div class="col-span-8 d:col-span-7">
                <div class="grid grid-cols-8 d:grid-cols-7 gap h-full">
                    <div class="col-span-6 d:col-span-4 d:col-start-3 mb-l d:mb-auto">
                        <div class="wysiwyg">{{ data.texte_1 }}</div>
                    </div>
                    <div class="col-span-6 d:col-span-4 col-start-3 d:col-start-2 mt-xl d:mt-auto">
                        <div>
                            <div>{{ data.texte_2 }}</div>
                            {% if data.button.url %}
                                <a href="{{ data.button.url }}" class="button button--dark mt-xl">{{ data.button.title }}{% include "@assets/svg/arrow-custom.svg" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0 right-0 w-[37.6rem] h-[21.1rem]">
            {{ image.default(data.image_secondary, '', 'v-3col') }}
        </div>
    </section>
{% endmacro %}