{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section id="bloc-content-3" class="relative container overflow-hidden my-xxl">
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap">
            <div class="col-span-6 lg:col-span-6 col-start-3 lg:col-start-7" show-elements>
                <h2 class="text-primary italic split animation--text" show-element>{{ data.title }}</h2>
            </div>
        </div>

        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap mt-m lg:mt-xl">
            <div class="col-span-7 lg:col-span-3 col-start-2 lg:!col-start-9 lg:order-2">
                <div class="relative lg:-bottom-[13rem] animation--image-up" show-elements>
                    <div class="animation--image-up--content" show-element>
                        {{ image.default(data.image_primary, '', 'h-3col') }}
                    </div>
                </div>
            </div>

            <div class="col-span-6 lg:col-span-3 lg:col-start-4 lg:order-1 max-lg:mt-xl">
                <div>{{ data.texte_1 }}</div>
            </div>
        </div>

        <div class="grid grid-cols-8 lg:grid-cols-12 gap mt-l lg:mt-m">
            <div class="col-span-8 lg:col-span-5 lg:!col-start-2 animation--image-up" show-elements>
                <div class="animation--image-up--content" show-element>
                    {{ image.default(data.image_primary, '', 'v-4col') }}
                </div>
            </div>
            <div class="col-span-6 lg:col-span-3 lg:!col-start-8 mt-xl lg:!mt-auto">
                <div class="max-lg:mt-l">{{ data.texte_2 }}</div>

                {% if data.button %}
                    <div class="max-lg:hidden child:ml-auto mt-m">
                        <a href="{{ data.button.url }}" class="button button--light">{{ data.button.title }}</a>
                    </div>
                {% endif %}
            </div>

            <div class="lg:hidden col-span-8">
                {% if data.button %}
                    <div class="child:ml-auto mt-m">
                        <a href="{{ data.button.url }}" class="button button--light">{{ data.button.title }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}