{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section id="bloc-content-3" class="relative container overflow-hidden my-xxl">
        {% if data.title %}
            <div class="relative z-10 grid grid-cols-8 d:grid-cols-12 gap mb-m d:mb-xl">
                <div class="col-span-6 d:col-span-6 col-start-3 d:col-start-7" show-elements>
                    <h2 class="text-primary italic split animation--text" show-element>{{ data.title }}</h2>
                </div>
            </div>
        {% endif %}

        <div class="relative z-10 grid grid-cols-8 d:grid-cols-12 gap">
            <div class="col-span-6 d:col-span-3 d:col-start-3 d:order-1 max-d:mt-xl">
                <div class="wysiwyg">{{ data.texte_1 }}</div>
            </div>
        </div>

        <div class="grid grid-cols-8 d:grid-cols-12 gap mt-l d:mt-m">
            <div class="col-span-8 d:col-span-5">
                {{ image.default(data.image_primary, '', 'v-4col') }}
            </div>
            <div class="col-span-8 d:!col-start-7 mt-l d:!mt-0">
                <div class="grid grid-cols-8 d:grid-cols-6 gap h-full">
                    <div class="col-span-8 d:col-span-4 d:col-start-3 max-h-[27.4rem] d:child:h-[27.4rem] -mr-margin overflow-hidden h-max order-1 d:order-0">
                        {{ image.default(data.image_side, '', 'h-4col-bis') }}
                    </div>
                    <div class="col-span-8 d:col-span-3 d:col-start-3 d:-mt-l order-0 d:order-1 max-d:mb-l">
                        <div>{{ data.texte_2 }}</div>
                    </div>
                    {% if data.button %}
                        <div class="col-span-8 d:col-span-2 d:!col-start-5 mt-l d:!mt-auto order-2">
                            <a href="{{ data.button.url }}" class="button button--dark">{{ data.button.title }}{% include "@assets/svg/arrow-custom.svg" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endmacro %}