{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section id="bloc-content-2" class="relative container overflow-hidden my-xxl">
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap">
            <div class="col-span-6 lg:col-span-5 lg:col-start-2" show-elements>
                <h2 class="text-primary italic split animation--text" show-element>{{ data.title }}</h2>
            </div>
        </div>

        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap mt-xl lg:mt-xl">
            <div class="col-span-7 lg:col-span-4 col-start-2 lg:col-start-9 mb-l lg:mb-m lg:order-2">
                <div class="ts-highlight text-primary split animation--text">{{ data.texte_1 }}</div>
            </div>
            
            <div class="col-span-8 lg:col-span-6 lg:!col-start-2 lg:order-1 animation--image-up" show-elements>
                {{ image.default(data.image_primary, '', 'v-6col') }}
            </div>
        </div>

        <div class="bloc-content-text-2 grid grid-cols-8 lg:grid-cols-12 gap">
            <div class="col-span-6 lg:col-span-3 col-start-3 lg:!col-start-10 max-lg:mt-xl animation--image-up" show-elements>
                {{ image.default(data.image_primary, '', 'h-3col') }}
                <div class="mt-l lg:mt-[3rem]">{{ data.texte_2 }}</div>
            </div>
        </div>
        
        {% if data.button %}
            <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap">
                <div class="col-span-5 lg:col-span-2 col-start-4 lg:col-start-11 lg:mt-s">
                    <a href="{{ data.button.url }}" class="button button--light">{{ data.button.title }}</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endmacro %}