{% macro default(data) %}
{% endmacro %}

{% macro project(data) %} 
    {% import "@components/image.twig" as image %}
    <div class="cover--home text-primary relative flex flex-col justify-end d:h-screen overflow-hidden" show-elements>
        {# <div class="canvasContainer">
            <canvas class="canvas"></canvas>
        </div> #}
        <div class="relative d:absolute top-0 left-0 w-full d:h-screen">
            <div class="container w-full">
                <div class="cover--realisations w-full d:h-screen">
                    <div class="cover--realisations__item grid grid-cols-8 d:grid-cols-12 max-d:gap-y-30 gap h-full">
                        <div class="col-span-3 col-start-2 mt-[14rem] max-d:hidden">
                            <div class="cover--realisations__item-wrapper aspect-[326/211] animation--image--fade-right" show-element show-delay="200">
                            {% for index, item in data.preview_realisations %}
                                {% set images = function('get_field', 'images-preview', item.ID) %}
                                <a href="{{ TimberPost(item.ID).link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.0, '', '[326/211]') }}
                                </a>
                            {% endfor %}
                            </div>
                            <div class="cover--realisation__titles-wrapper overflow-hidden relative mt-10 animation--opacity" show-element show-delay="400">
                                {% for index, item in data.preview_realisations %}
                                    <div class="cover--realisations__item-title">0{{index + 1}} / {{ item.post_title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-4 d:col-span-2 d:col-start-6 mt-0 d:!mt-auto d:!mb-[14rem] max-d:order-2">
                            <div class="cover--realisations__item-wrapper aspect-[185/237] d:aspect-[107/134] animation--image--fade-right" show-element show-delay="250">
                            {% for index, item in data.preview_realisations %}
                                {% set images = function('get_field', 'images-preview', item.ID) %}
                                <a href="{{ TimberPost(item.ID).link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.1, '', '[107/134]', '[185/237]') }}
                                </a>
                            {% endfor %}
                            </div>
                            <div class="cover--realisation__titles-wrapper overflow-hidden relative d:hidden mt-10 animation--opacity" show-element show-delay="400">
                                {% for index, item in data.preview_realisations %}
                                    <div class="cover--realisations__item-titleMobile">0{{index + 1}} / {{ item.post_title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-2 d:col-span-1 mt-0 d:!mt-[14rem] max-d:order-3">
                            <div class="flex flex-col items-end gap">
                                <button class="button button--dark button--before button--small animation--opacity" show-element show-delay="600">{% include "@assets/svg/arrow-left.svg" %}</button>
                                <button class="button button--dark button--after button--small animation--opacity" show-element show-delay="650">{% include "@assets/svg/arrow-right.svg" %}</button>
                            </div>
                        </div>
                        <div class="col-span-6 d:col-span-4 col-start-3 max-d:-mr-[2rem] mt-100 d:!mt-[14rem]">
                            <div class="cover--realisations__item-wrapper aspect-[305/218] d:aspect-[4/3] js--transition-realisation animation--image--fade-right" show-element show-delay="300">
                            {% for index, item in data.preview_realisations %}
                                {% set images = function('get_field', 'images-preview', item.ID) %}
                                <a href="{{ TimberPost(item.ID).link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.2, '', '[4/3]', '[305/218]') }}
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container relative z-10 mb-l d:mb-m max-d:text-center max-d:mt-[6.4rem]">
            <h1 class="ts-custom2 ts-primary normal-case split animation--text mb-20 d:mb-s" show-element show-delay="600">{{ data.title }}</h1>
            <div class="ts-big ts-big-title uppercase flex gap-[9rem] max-d:flex-col justify-between items-center" show-element><span>Margot</span><span>Jollit</span></div>
        </div>
    </div>
{% endmacro %}

{% macro page(data) %}
    {% import "@components/image.twig" as image %}
    <section class="container mb-xl">
        <div class="relative grid grid-cols-8 d:grid-cols-12 gap-0">
            <div class="col-span-8 d:col-span-3 col-start-1 d:col-start-9 d:absolute top-0 right-0 d:w-[32.5rem] d:h-[42.6rem]">
                <div class="rounded-t-[20rem] overflow-hidden">
                    {{ image.default(data.image_primary, '', 'v-3col', '', false) }}
                </div>
            </div>
            <div class="col-span-8 d:col-span-11 d:col-start-2 mt-l d:mt-xxl">
                <h1 class="d:ts-big text-primary split animation--text" show-element>{{data.title}}</h1>
            </div>
            <div class="col-span-6 d:col-span-3 col-start-3 d:col-start-9 mt-l d:-mt-xl">
                {{ data.content }}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro pageAdvance(data) %}
    {% import "@components/image.twig" as image %}
    <section class="container mt-xl mb-[15rem]">
        <div class="relative grid grid-cols-8 d:grid-cols-12">
            <div class="hidden d:block col-span-8 d:col-span-2 d:col-start-2">
                <div class="animation--image-up" show-elements>
                    {{ image.default(data.image_secondary, '', 'v-2col', '', false) }}
                </div>
            </div>
            <div class="col-span-8 d:col-span-3 d:absolute top-0 right-0 w-full d:w-[32.6rem] d:h-[42.6rem]">
                <div class="rounded-t-[20rem] overflow-hidden">
                    <div class="animation--image-up" show-elements>
                        {{ image.default(data.image_primary, '', 'v-3col', '', false) }}
                    </div>
                </div>
            </div>
            <div class="col-span-8 d:col-span-10 d:col-start-2 mt-l d:mt-m mb-m">
                <h1 class="d:ts-big text-primary split animation--text" show-element>{{data.title}}</h1>
            </div>
            <div class="col-span-3 d:col-span-2">
                <div class="animation--image-up" show-elements>
                    {{ image.default(data.image_third, '', 'h-2col', '', false) }}
                </div>
            </div>
            <div class="col-span-6 d:col-span-3 col-start-3 d:col-start-9 mt-[3rem] d:-mt-xl">
                {{ data.content }}
            </div>
        </div>
    </section>
{% endmacro %}