{% macro default(data) %}
    <div class="bg-secondary text-primary relative flex flex-col justify-end h-screen overflow-hidden" show-elements>
        <div class="canvasContainer">
            <canvas class="canvas"></canvas>
        </div>
        <div class="absolute top-0 left-0 w-full h-screen">
            <div class="container w-full">
                <div class="cover--realisations w-full h-screen">
                    <div class="cover--realisations__item grid grid-cols-8 lg:grid-cols-12 gap h-full">
                        <div class="col-span-3 col-start-2 mt-[14rem] max-lg:hidden">
                            <div class="cover--realisations__item-wrapper aspect-video aspect-[16/11]">
                            {% for index, item in realisations %}
                                {% set images = function('get_field', 'images-preview', item.id) %}
                                <a href="{{ item.link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.0, '', 'video') }}
                                    <div class="cover--realisations__item-title {% if index == 0 %}active{% endif %}">{{ item.title }}</div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-2 col-start-6 mt-auto mb-[14rem] max-lg:hidden">
                            <div class="cover--realisations__item-wrapper aspect-[107/134]">
                            {% for index, item in realisations %}
                                {% set images = function('get_field', 'images-preview', item.id) %}
                                <a href="{{ item.link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.1, '', '[107/134]') }}
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-1 mt-[14rem]">
                            <div class="flex flex-col items-end gap">
                                <button class="button button--before button--small">{% include "@assets/svg/arrow-left.svg" %}</button>
                                <button class="button button--after button--small">{% include "@assets/svg/arrow-right.svg" %}</button>
                            </div>
                        </div>
                        <div class="col-span-8 lg:col-span-4 lg:mt-[14rem] hidden lg:block">
                            <div class="cover--realisations__item-wrapper aspect-[379/526] lg:aspect-[4/3] js--transition-realisation">
                            {% for index, item in realisations %}
                                {% set images = function('get_field', 'images-preview', item.id) %}
                                <a href="{{ item.link }}" class="cover--realisations__item-wrapper__elem {% if index == 0 %}active{% endif %}">
                                    {{ image.default(images.2, '', '[4/3]', '[379/526]') }}
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container relative z-10 mb-l lg:mb-s max-lg:text-center">
            <h1 class="ts-custom2 ts-heading normal-case mb-m lg:mb-s">Architecte d’intérieur et décorative</h1>
            <div class="ts-big uppercase flex max-lg:flex-col justify-between items-center"><span>Margot</span><span>Jollit</span></div>
        </div>
    </div>
{% endmacro %}