{% macro default() %}
    {% import "@components/image.twig" as image %}

    {% set posts = get_posts('realisations', 6) %}

    <section class="slider-realisation">
        <div class="container--full">
            <div class="relative h-screen">
                <div class="slider-realisation--container">
                    <div class="slider-realisation--content flex flex-col items-center justify-center gap-m h-full">
                        <div class="slider-realisation--header text-white">
                            <div class="slider-realisation--number text-center">
                                <div>0{% for index, post in posts %}<span class="slider-realisation--number-item">{{ index + 1 }}</span>{% endfor %}</div>
                            </div>
                            <div class="slider-realisation--title text-center">
                                {% for post in posts %}
                                    <div class="slider-realisation--title-item ts-h3">{{ post.title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="slider-realisation--preview flex items-end">
                            {% for post in posts %}
                                <div class="slider-realisation--preview-item rounded-t-[20rem] overflow-hidden">
                                    {{ image.default(post.thumbnail, '', 'v-3col') }}

                                    <a href="{{ post.link }}" class="button lg:hidden">Découvrir</a>
                                </div>    
                            {% endfor %}
                        </div>
                        <div class="slider-realisation--buttons flex items-center justify-center gap-xl">
                            <button class="button button--before button--small button--small-light">{% include "@assets/svg/arrow-left.svg" %}</button>
                            <button class="button button--after button--small button--small-light">{% include "@assets/svg/arrow-right.svg" %}</button>
                        </div>
                    </div>
                </div>
                <div class="slider-realisation--wrapper">
                    {% for post in posts %}
                        <div class="slider-realisation--wrapper-item">
                            {{ image.default(post.thumbnail, '', 'video') }}

                            <a href="{{ post.link }}" class="button">Découvrir</a>
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endmacro %}