{% extends "base.twig" %}

{% block content %}
	<main role="main" data-taxi-view>
		<div class="space-scroll"></div>

		<div id="app-content" class="post-type-{{ post.post_type }} {{ body_class }}">
			<div id="app-body">
				{% block pageContent %}{% endblock %}
			</div>
		</div>

		<footer class="next-realisation text-primary bg-primary-light js--switch-realisation">
			{% set previous = function('get_previous_realisation', '{{ post.id }}') %}
			<a class="next-realisation--body" href="{{ previous.link }}">
				<div class="next-realisation--content">
					<div class="next-realisation--text">
						<div class="ts-label">Projet suivant</div>
						<div class="ts-h1">{{ previous.title }}</div>
					</div>
				</div>
			</a>
		</footer>
	</main>
{% endblock %}
